.countdown
{
  transform-origin: 0 0;
  transform: scale(0.61);
  -ms-transform: scale(1);
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(0.61);
  -o-transform-origin: 0 0;
  -o-transform: scale(0.61);
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.61);
}

.countdown-wrapper 
{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.countdown.flip-clock-wrapper ul 
{
  height: 144px;
  margin: 0 10px;
  width: 96px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.countdown.flip-clock-wrapper ul li 
{
  line-height: 144px;
}

.countdown.flip-clock-wrapper ul li a div div.inn 
{
  background-color: #000;
  color: #FFFFFF;
  font-size: 120px;
  text-shadow: 0 1px 2px #000;
}

.countdown.flip-clock-wrapper ul,
.countdown.flip-clock-wrapper ul li a div div.inn 
{
  border-radius: 8px;
}

.countdown.flip-clock-wrapper ul li a div.down 
{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.countdown.flip-clock-wrapper ul li a div.up:after 
{
  top: 71px;
}

.countdown .flip-clock-dot.top {
  top: 38px;
}

.countdown .flip-clock-dot.bottom {
  top: 86px;
}

.countdown .flip-clock-dot {
  height: 20px;
  left: 20px;
  width: 20px;
  background: #000;
}

.countdown .flip-clock-divider {
  height: 144px;
  width: 60px;
}
.countdown .flip-clock-divider:first-child {
  width: 0;
}

.countdown .flip-clock-divider.seconds .flip-clock-label,
.countdown .flip-clock-divider.minutes .flip-clock-label {
  right: -232px;
}

.countdown .flip-clock-divider .flip-clock-label {
  color: #FFFFFF;
  font-size: 30px;
  width: 232px;
}
#flipclock
{
  height: 100px;
  width: 900px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin: -140 0 0 -250px;
}
#logo
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
}
#date
{
  font-size: 60pt; 
  font-family: 'Century Gothic', 'Helvetica Neue'; 
  color: #ffffff; 
  font-weight: bold
}
#datediv
{
  padding-top: 0%;
}
#playbutton
{
  visibility: hidden;
}
.wrapper 
{
  width: 250px;
  height: 250px;
  text-align: center;
}

.wrapper img 
{
  margin: 4% 0;
  height: 92%;
  width: auto;
  -webkit-transition: margin 0.3s, height 0.3s;
  -moz-transition: margin 0.3s, height 0.3s;
  -o-transition: margin 0.3s, height 0.3s;
  transition: margin 0.3s, height 0.3s;
}

.wrapper img:hover 
{
  margin: 0;
  height: 100%;
  -webkit-transition: margin 0.3s, height 0.3s;
  -moz-transition: margin 0.3s, height 0.3s;
  -o-transition: margin 0.3s, height 0.3s;
  transition: margin 0.3s, height 0.3s;
}
@font-face
{
  font-family: 'Century Gothic';
  src: url('font/century-gothic.ttf'),
  url('font/century-gothic.eot');
}
body  
{
  background-position: center;
  background-size: cover;
}
@media only screen and (max-device-width: 480px)
{
  #playbutton
  {
    visibility: visible !important;
    position: absolute;
    bottom: 35%;
    left: 50%;
    margin: 0px 0 0 -125px;
  }
  #playbuttonimg
  {
    width: 200px;
    height: 200px;
  }
  #logo
  {
    top: 35% !important;
  }
}
